<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Bitcoin Price</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="style/main.css">
</head>
<body> 
    <div class="wrap">
        <h2><%= ticker.symbol %></h2>
        <div class="prices">
            <p><strong>Last Trade Price</strong><span><%= ticker.last_trade_price %></span></p>
            <p><strong>24h Price</strong><span><%= ticker.price_24h %></span></p>
            <p><strong>24h Volume</strong><span><%= ticker.volume_24h %></span></p>
        </div>
    </div>
</body>
</html>